.flex-container {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;

 

    flex-direction: column;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar label {
    margin-right: 10px;
}

.search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.example-icon {
    color: white;
    background-color: #5538D9;
    border: 1px solid #5538D9;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example-icon img {
    margin-left: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.text-right {
    text-align: end; /* Align text to the end (right) */
}

.input-group-text {
    height: 100%; /* Set the height of input group text to 100% */
}

.container-search{
    margin-top: 10px;
    margin-left: 600px;
    margin-right: 600px;
}

.mat-spinner-color::ng-deep circle{
    stroke: #FFFFFF !important;
    }

.example-icon-share{
        font-size: 30px; /* Increase the font size for a larger icon */
        border: none; /* Make the icon's container a circle for a rounded look */
        
        background-color: transparent; 
        cursor: pointer;
        align-items: end;
        margin-left:end;
        padding-right: 20px;
        display: flex;
        justify-content: flex-end;
        padding-left: 98.5%;
}
      