<div class="flex-container">
    <div class="search-bar">
      <label for="client">Client</label>
      <input type="text" placeholder="client" class="search-input" [(ngModel)]="selectedClient" id="client">
      <label for="compte">Dossier</label>
      <input type="text" placeholder="dossier" class="search-input" [(ngModel)]="selectedCompte" id="compte">
    </div>
    <button style="color: white; background-color: #5538D9; border: 1px; border-radius: 5px; width: 100px; height: 40px;" mat-raised-button class="example-icon" (click)="search()">
      Search
      <img src="assets/icons/search.png" class="mat-iconleft" width="20px" height="20px" alt="">
    </button>
  </div>
  
  <!-- Affichage des données de la recherche -->
  <div *ngIf="results">
    <h2>Résultats de la recherche :</h2>
    <table>
        <thead>
            <tr>
                <th></th>
               
                <th>Numero Dossier</th>
                <th>Compte Client</th>
                <th>Date Creation</th>
                <th>Capital</th>
                <th>Marge</th>
                <th>Type Mourabaha</th>
                <th>Nombre Echeance</th>
                <th>Actions</th>  
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let amortissement of results">    
                <td>{{ amortissement.id }}</td>
                <td>{{ amortissement.NOOPER }}</td>
                <td>{{ amortissement.CPTVUE }}</td>
                <td>{{ amortissement.DATOPER }}</td>
                <td>{{ amortissement.MNTPRT }}</td>
                <td>{{ amortissement.TOTINT }}</td>
                <td> type mourabaha </td>
                <td>{{ amortissement.CSERV }}</td>
                <td>
                    <button type="button" class="btn btn-link" (click)="goToDetails(amortissement.NOOPER)">
                      <i class="far fa-list-alt"></i> Détails
                    </button>
                  </td>
              </tr>
            <!-- Ajoutez plus de lignes de données au besoin -->
        </tbody>
    </table>
  </div>
  
  <!-- Affichage d'un message si aucun résultat n'est trouvé -->
  <div *ngIf="noResults">
    Aucun résultat trouvé pour le client {{ selectedClient }} et le compte {{ selectedCompte }}.
  </div>
  
