<div *ngIf="entetCliData" class="flex-container">
  <div class="left-content">
    <h1>Données du dossier</h1>
    <ul>
      <li><strong>Numéro de dossier:</strong>  {{ entetCliData[0]?.Numero_Dossier }}</li>
      <li><strong>Type De Pret:</strong> {{ entetCliData[0]?.Type_De_Pret }}</li>
      <li><strong>Date Mis En Place:</strong> {{ entetCliData[0]?.date_mep | date:'dd/MM/yyyy'}}</li>
      <li><strong>Date 1ère échéance:</strong> {{ entetCliData[0]?.date_1ech | date:'dd/MM/yyyy'}}</li>
      <li><strong>Date Derniere échéance:</strong> {{ entetCliData[0]?.date_dern_ech | date:'dd/MM/yyyy'}}</li>
    </ul>
  </div>
  
  <div class="right-content">
    <h1>Prix</h1>
    <ul>
      <li><strong>Prix d'Achat(Capital):</strong> {{ entetCliData[0]?.prix_achat }} MRO</li>
      <li><strong>Prix de Vente (HT):</strong> {{ entetCliData[0]?.prix_vente }} MRO</li>
      <li><strong>Prix de Vente (TTC):</strong> {{ entetCliData[0]?.prix_vente }} MRO</li>
      <li><strong>Durée de mourabaha:</strong> {{ entetCliData[0]?.duree_mourabaha }} Mois</li>
      <li><strong>TOF:</strong> {{ entetCliData[0]?.TOF }}%</li>
    </ul>
  </div>
</div>


<div class="p-2 d-flex align-items-center ">
  <h2 class="flex-grow-1">Tableau d'Amortissement</h2>
  <button type="button" class="btn btn-success" (click)="printTable()">
    <i class="fas fa-cloud-download-alt"></i>&nbsp; Imprimer
  </button>
</div>
<div class="TB-flex-container"> 
  <table>
    <thead>
        <tr>
            <th>Numero</th>
            <th>Date</th>
            <th class="mont">Capital</th>
            <th class="mont">Marge</th>
            <th class="mont">TOF</th>
            <th class="mont">Echéance</th>
            <th class="mont">Capital Restent Dû</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let amortissement of results">
  
          
            <td>{{ amortissement.id }}</td>
            <td>{{ amortissement.DATRMB | date:'dd/MM/yyyy'}} </td>
            <td class="mont">{{ amortissement.MNTCAP }}</td>
            <td class="mont">{{ amortissement.MNTINT }}</td>
            <td class="mont">{{ amortissement.MNTTAXE }}</td>
            <td class="mont">{{ amortissement.MNTRMB }}</td>
            <td class="mont">{{ amortissement.SLDAMO }}</td>
  
          </tr>
  
        <!-- Ajoutez plus de lignes de données au besoin -->
    </tbody>
  
      
  </table>
  
  
</div>


